.shimmer-box {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #bebebe 25%, #e2e2e2 50%, #e4e4e4 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .shimmer-text {
    height: 30px;
    width: 80%;
  }

  .shimmer-text-lg {
    height: 40px;
    width: 80%;
  }

  .shimmer-paragraph-text {
    height: 100px;
    width: 100%;
  }

  .shimmer-text-sm {
    height: 20px;
    width: 80%;
  }

  .shimmer-pill {
    height: 20px;
    width: 40px;
  }

  .shimmer-image {
    height: 300px;
    width: 100%;
  }

  .shimmer-image-lg {
    height: 500px;
    width: 100%;
  }

  .shimmer-image-small {
    height: 100px;
    width: 150px;
  }

  .shimmer-btn {
    height: 40px;
    width: 120px;
  }

  .shimmer-circle {
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
  .shimmer-circle-sm {
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }
  
  @keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
  }

  

  